body{
    background-color: #1E1E24;
}
.login-logo a, .register-logo a {
    color: #E54B4B;
}
.login-box-body, .register-box-body {
    background: #444140;
}
.login-box-msg, .register-box-msg {
    color: #F7EBE8;
}
.has-feedback {
    background-color: #1E1E24;
}
.has-feedback .form-control {
    -webkit-text-fill-color: #E54B4B;
    color: #E54B4B !important;
    font-weight: bold;
    background-color: #1E1E24;
    border-color: #F7EBE8;
}
/* lo del webkit fiero */
input:-internal-autofill-selected {
    background-color: #1E1E24 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 17px rgb(6, 3, 3) inset !important;
}
/* acá termina la poronga */
.has-feedback .form-control:hover {
    border-color: #E54B4B;
}
.btn-primary {
    background-color: #1E1E24;
    border-color: #1E1E24;
    font-size: 0.9em;
}
.btn-primary:hover {
    color: #1E1E24;
    background-color: #E54B4B;
    border-color: #E54B4B;
    font-weight: bold;
}
.btn-primary:hover, .btn-primary:active{
    background-color: #E54B4B !important;
    border-color: 0px !important;
    border-radius: 0px !important;
    color: #1E1E24 !important;
    font-weight: bold !important;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #1E1E24;
    background-color: #E54B4B;
    border-color: #E54B4B;
    font-weight: bold;
}
.btn.btn-flat {
    border-width: 0px;
}
a {
    color: #F7EBE8;
}
a:hover {
    color: #E54B4B;
}